#body #contact {
	padding: 0 10px;
	width: 940px;
}
#body #contact h1 {
	color: #fcc5c9;
	font-size: 24px;
	font-family: 'DeliusSwashCaps-Regular';
	font-weight: normal;
	line-height: 30px;
	margin: 0;
	padding: 0;
}
#body #contact h1 a {
	color: #fcc5c9;
}
#body #contact h1 a:hover {
	color: #fff;
}
#body #contact > div {
	margin: 0;
	overflow: hidden;
	padding: 30px 0 50px;
}
#body #contact div .section {
	float: left;
	margin: 0 20px 0 0;
	padding: 0;
	width: 540px;
}
#body #contact div .section p {
	color: #989282;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
#body #contact div .section p a {
	color: #989282;
	text-decoration: underline;
}
#body #contact div .section p a:hover {
	color: #b8a87c;
}
#body #contact div .section ul, #body #contact div .section ul li {
	margin: 0;
	padding: 0;
}
#body #contact div .section ul {
	padding: 10px 0 0;
}
#body #contact div .section ul li {
	color: #989282;
	line-height: 24px;
	list-style: none;
	margin: 0;
	padding: 14px 0;
}
#body #contact div .section ul li span {
	color: #fcc5c9;
	display: block;
	font-size: 16px;
	font-family: 'DeliusSwashCaps-Regular';
	font-weight: normal;
	line-height: 24px;
	margin: 0;
	padding: 0;
	text-transform: capitalize;
}
#body #contact div .section ul li a {
	color: #989282;
	text-decoration: none;
}
#body #contact div .section ul li a:hover {
	color: #b8a87c;
}
#body #contact div .figure {
	background: #543f1b;
	border: 1px solid #876a38;
	float: left;
	margin: 0;
	padding: 3px;
	width: 372px;
}
#body #contact div .figure div {
	background: #1b1b1b;
	padding: 16px;
}
#body #contact div .figure div img {
	background: #bfb38d;
	border: 0;
	display: block;
	padding: 3px;
}
#body #contact div .figure div p {
	color: #32b5ba;
	line-height: 24px;
	margin: 0;
	padding: 7px 0 0;
}
#body #contact div .figure div p a {
	color: #32b5ba;
	text-decoration: underline;
}
#body #contact div .figure div p a:hover {
	color: #8cdfe2;
}
#body #contact form {
	border-bottom: 1px solid #876a38;
	border-top: 1px solid #876a38;
	margin: 0;
	overflow: hidden;
	padding: 18px 20px 30px 19px;
}
#body #contact form span {
	clear: both;
	color: #fcc5c9;
	display: block;
	font-size: 16px;
	font-family: 'DeliusSwashCaps-Regular';
	font-weight: normal;
	margin: 0;
	padding: 0 0 17px;
	text-transform: capitalize;
}
#body #contact form div {
	float: left;
	margin: 0;
	padding: 0;
	width: 502px;
}
#body #contact form div.information {
	margin: 0 58px 0 0;
	width: 341px;
}
#body #contact form label {
	color: #989282;
	display: block;
	line-height: 36px;
	margin: 0;
	padding: 0;
	text-transform: capitalize;
}
#body #contact form input {
	border: 1px solid #bfc2c7;
	background-color: #eaeaea;
	color: #020202;
	display: block;
	height: 35px;
	line-height: 35px;
	margin: 0;
	padding: 0;
}
#body #contact form div.information input {
	font-size: 16px;
	font-family: 'DeliusSwashCaps-Regular';
	font-weight: normal;
	padding: 0 5px;
	width: 329px;
}
#body #contact form textarea {
	border: 1px solid #bfc2c7;
	color: #999;
	display: block;
	font-size: 16px;
	font-family: 'DeliusSwashCaps-Regular';
	font-weight: normal;
	height: 172px;
	margin: 0 0 5px;
	padding: 5px;
	resize: none;
	width: 490px;
}
#body #contact form #send {
	background: url(../imgs/button.png) no-repeat 0 0;
	border: 0;
	height: 24px;
	margin: 0;
	padding: 0;
	width: 51px;
}
#body #contact form #send:hover {
	background-position: 0 -29px;
}
#body #contact form textarea {
    border: 1px solid #bfc2c7;
    color: #000000;
    display: block;
    font-size: 16px;
    font-family: 'DeliusSwashCaps-Regular';
    font-weight: normal;
    height: 172px;
    margin: 0 0 5px;
    padding: 5px;
    resize: none;
    width: 490px;
    background: url('../imgs/logo.png') no-repeat center center  #eaeaea;
    background-size: 50%;
}
.waiter{
	width: 335px;
}